      #container {
        display: flex;
        flex-direction: column;
        min-height: 35vh;
        flex-wrap: wrap;
      }
      #nav {
        background-color: rgb(184, 184, 184);
        min-height: 50px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        font-size: larger;
        flex-wrap: wrap;
      }
      #nav>div {
        flex-basis : 100px;
      }
      #main {
        display: flex;
        flex-direction: row;
        flex: 1;
        justify-content: space-evenly;
        gap: 20px;
        padding: 20px;
        flex-wrap: wrap;
      }
      #content1 {
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        display: flex;
        flex: 1 1 300px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      #content2 {
        background-color: rgb(255, 255, 255);
        border: 3px solid black;
        display: flex;
        flex: 1 1 300px;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
      }
      .footer {
        background-color:  rgb(184, 184, 184);
        height: 50px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
      }