#container{
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 80vh;
            align-items: center;
            justify-content: center;
            border: 3px solid black;
        }
        #container>div{
            padding: 20px;
            margin: 10px;
            font-size: 25px;
            color: black;
            border: 3px solid rgb(217, 255, 0);
        }