        #container{
            display: flex;
            flex-direction: column;
            min-height: 100vh;
            flex-wrap: wrap;
            gap: 10px;
        }
        #header, #footer{
            background-color: rgb(108, 118, 249);
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #body{
            display: flex;
            flex: 1;
            gap: 10px;
            flex-wrap: wrap;
        }
        #sidenav, #sidebar{
            background-color: rgb(231, 194, 71);
            border: 3px solid black;
            padding: 20px;
            font-size: 25px;
            color: black;
            flex: 0 0 150px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        #content{
            background-color: rgb(81, 230, 113);
            border: 3px solid black;
            padding: 20px;
            font-size: 25px;
            color: black;
            flex: 1 1 300px;
            display: flex;
            justify-content: center;
            align-items: center;
        }