body {
  background-color: blueviolet;
}
#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 60%;
  margin: auto;
  margin-top: 200px;
  border: 1px solid black;
}
#container div {
  background-color: rgb(184, 184, 184);
  margin: 10px;
  text-align: center;
  line-height: 100px;
}
#item1 {
  grid-row: 1/3;
}
#item2 {
  grid-column: 2/4;
}
#item3 {
  grid-row: 2/3;
}
#item4 {
  grid-row: 2/4;
}
#item5 {
  grid-column: 1/3;
}

@keyframes rotateContainer {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes colorChange {
  0% {
    background-color: rgb(184, 184, 184);
  }
  50% {
    background-color: tomato;
  }
  100% {
    background-color: gold;
  }
}

@media (max-width: 900px) {
  #container {
    animation: rotateContainer 5s linear infinite;
  }
  #container div {
    animation: colorChange 5s linear infinite;
  }
}

@media (max-width: 600px) {
  #container {
    animation: rotateContainer 1s linear infinite;
  }
  #container div {
    animation: colorChange 1s linear infinite;
  }
}
